$border-radius:                     .25rem;
$link-color:                        #ccc;
$white:                             #fff;
$border-width:                      1px !default;
$gray-200:                          #e9ecef !default;
$gray-300:                          #dee2e6 !default;
$gray-600:                          #868e96 !default;
$link-hover-color:                  darken($link-color, 15%) !default;

$pagination-padding-y:              .5rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;
$pagination-line-height:            1.25 !default;

$pagination-color:                  $link-color !default;
$pagination-bg:                     $white !default;
$pagination-border-width:           $border-width !default;
$pagination-border-color:           $gray-300 !default;

$pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color:           $white !default;
$pagination-active-bg:              theme-color("primary") !default;
$pagination-active-border-color:    theme-color("primary") !default;

$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-300 !default;

.pagination-container {
    text-align: right;
}

.pagination {
    display: inline-block;
    list-style: none;
    border-radius: .25rem;
    margin-top: 0;
}

.pagination li {
    display: inline-block;
}

.page-link {
    position: relative;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;
}

.page-item {
    &:first-child {
        .page-link {
            margin-left: 0;
            border-radius: $border-radius 0 0 $border-radius;
        }
    }
    &:last-child {
        .page-link {
            border-radius: 0 $border-radius $border-radius 0;
        }
    }

    &.active .page-link {
        z-index: 1;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border-color;
    }

    &.disabled .page-link {
        color: $pagination-disabled-color;
        pointer-events: none;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border-color;
    }
}
