{% extends 'layouts/default.html' %}

{% set page_title = 'Confirm Action' %}

{% block content %}
    <div class="content">
        <form method="post" action="{{ action_url }}">
            <p>Are you sure you want to <em>{{ action }}</em> <strong>{{ instance }}</strong>?</p>

            <button type="submit" class="pure-button pure-button-primary">Yes</button>
            <button type="button" class="pure-button" onclick="history.back()">No</button>
        </form>
    </div>
{% endblock %}
