{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'Select Network / Gateway' %}

{% block content %}
    <div class="content">
        <form method="post" action="{{ action_url }}" class="pure-form pure-form-aligned">
            {{ form.csrf_token }}
            <fieldset>
                {{ group(form.network) }}
                {{ group(form.gateway) }}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Ok</button>
                    <button type="button" class="pure-button" onclick="history.back()">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
