{% extends 'layouts/login.html' %}
{% from 'helpers/form.html' import render_field %}

{% block content %}
<div class="panel panel-login">
    <h1 class="panel-title">Login</h1>

    <div class="panel-body">
        <form method="post" action="{{ url_for('wifidog.login') }}" class="pure-form pure-form-stacked">
            {{ form.gw_address | safe }}
            {{ form.gw_port | safe }}
            {{ form.gw_id | safe }}
            {{ form.mac | safe }}
            {{ form.url | safe }}

            <fieldset class="pure-group">
                {{ render_field(form.voucher, class='pure-input-1', placeholder='Voucher', required=True) }}
                {{ render_field(form.email, class='pure-input-1', placeholder='Email Address', required=True) }}
            </fieldset>

            <button type="submit" class="pure-input-1 pure-button pure-button-primary">Go</button>
        </form>
    </div>
</div>
{% endblock %}

