{% extends 'layouts/default.html' %}

{% set page_title = transaction %}

{% block content %}
<div class="content">
    <table class="table-properties">
        <thead>
            <tr><th /><th class="heading">Basket</th></tr>
        </thead>

        <tbody>
            {% if transaction.tip_amount %}
            <tr><th>Tip</th><td>{{ render_currency_amount(transaction.currency, transaction.tip_amount) }}</td></tr>
            {% endif %}
            <tr><th>Total</th><td>{{ render_currency_amount(transaction.currency, transaction.total_amount) }}</td></tr>
            <tr><th>Description</th><td>{{ transaction.description }}</td></tr>
        </tbody>

        <thead>
            <tr><th /><th class="heading">Details</th></tr>
        </thead>

        <tbody>
            <tr>
                <th>User</th>
                <td>
                    {% if transaction.user %}
                    <a href="{{ url_for('.user_edit', id=transaction.user_id) }}">{{ transaction.user }}</a>
                    {% else %}
                    {{ transaction.user }}
                    {% endif %}
                </td>
            </tr>
            <tr><th>Order</th><td><a href="{{ url_for('.order_edit', hash=transaction.order.hash) }}">{{ transaction.order }}</a></td></tr>
            <tr><th>Processor</th><td>{{ transaction.processor }}</td></tr>
            <tr><th>Reference</th><td>{{ transaction.processor_reference }}</td></tr>
            <tr><th>Status</th><td>{{ transaction.status }}</td></tr>
            <tr><th>Cashup</th><td>{{ transaction.cashup }}</td></tr>
        </tbody>
    </div>
</div>
{% endblock %}
