<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wifidog Auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/screen.css') }}" />

    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='scripts/ie.js') }}"></script>
    <![endif]-->

    {% block head %}
    {% endblock %}
</head>
<body class="layout-base">
    <div class="container">
        {% block menu %}
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                {%- for item in current_menu.children recursive -%}
                {%- if item.visible -%}
                <li class="pure-menu-item{% if item.active %} pure-menu-selected{% endif %}{% if item.children %} pure-menu-has-children pure-menu-allow-hover{% endif %}">
                    <a href="{{ item.url }}" class="pure-menu-link">{{ item.text }}</a>
                    {%- if item.children -%}
                    <ul class="pure-menu-children">
                        {{ loop(item.children) }}
                    </ul>
                    {%- endif -%}
                </li>
                {%- endif -%}
                {%- endfor -%}
                <li class="pure-menu-item">
                <a href="/logout" class="pure-menu-link">Logout {{ current_user.email }}</a>
                </li>
            </ul>
        </div>
        {% endblock %}

        {% include 'layouts/flashes.html' %}

        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container">
        &copy; datashaman
        </div>
    </footer>

    <script src="{{ url_for('static', filename='scripts/interactive.js') }}"></script>
    <script src="{{ url_for('static', filename='stores/currentuser.js') }}"></script>
    <script src="{{ url_for('static', filename='tags/raw.tag') }}" type="riot/tag"></script>
    <script src="{{ url_for('static', filename='tags/modal.tag') }}" type="riot/tag"></script>

    {% block scripts %}
    {% endblock %}

    <script>
    Zepto(function($) {
        riot.mount('*');
        RiotControl.trigger('currentuser.load');

        setupNotifications();

        var eventSource = new EventSource('{{ url_for('app.push') }}');

        eventSource.onmessage = function(response) {
            new Notification(response.data);
        };
    });
    </script>
</body>
</html>
