<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wifidog Auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/screen.min.css') }}" />

    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='scripts/ie.js') }}"></script>
    <![endif]-->

    {% block head %}
    {% endblock %}
</head>

{% block body %}
{% endblock %}
</html>
