<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>{{ title }} - Wifidog Auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/screen.min.css') }}" />

    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='scripts/ie.min.js') }}"></script>
    <![endif]-->

    {% block head %}
    {% endblock %}
</head>

<body class="layout-default">
    {% include 'layouts/gtm.html' %}
    
    <div id="layout">
        <a href="#menu" id="menuLink" class="menu-link">
            <i class="oi" data-glyph="menu" title="Menu" aria-hidden="true"></i>
        </a>

        <div id="menu">
            <div class="pure-menu">
                <a href="#" class="pure-menu-heading">Auth</a>

                <ul class="pure-menu-list">
                    {%- for item in current_menu.children recursive -%}
                    {%- if item.visible -%}
                    <li class="pure-menu-item{% if item.active %} pure-menu-selected{% endif %}{% if item.children %} pure-menu-has-children pure-menu-allow-hover{% endif %}">
                        <a href="{{ item.url }}" class="pure-menu-link">{{ item.text }}</a>
                        {%- if item.children -%}
                        <ul class="pure-menu-children">
                            {{ loop(item.children) }}
                        </ul>
                        {%- endif -%}
                    </li>
                    {%- endif -%}
                    {%- endfor -%}

                    {% if current_user.is_authenticated %}
                    <li class="pure-menu-item">
                        <a href="/logout" class="pure-menu-link">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="info">
                &copy; datashaman
            </div>
        </div>

        <div id="main">
            {% if show_flash != False %}
            <div class="content">
            {% include 'layouts/flashes.html' %}
            </div>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/site.min.js') }}"></script>

    <script>
    Zepto(function($) {
        {% if config.get('PUSH_ENABLED') %}
        var eventSource = new EventSource('{{ url_for('app.push') }}');
        eventSource.onmessage = function(response) {
            new Notification(response.data);
        };
        {% endif %}

        setupNotifications();

        riot.mount('*');
    });
    </script>

    {% block scripts %}
    {% endblock %}
</body>
