<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wifidog Auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/screen.min.css') }}" />

    {% block styles %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='scripts/ie.js') }}"></script>
    <![endif]-->

    {% block head %}
    {% endblock %}
</head>
<body class="layout-login">
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
    &copy; datashaman
    </footer>

    <script src="{{ url_for('static', filename='scripts/site.min.js') }}"></script>

    {% block scripts %}
    {% endblock %}

    <script>
    Zepto(function($) {
        setupNotifications();
        var eventSource = new EventSource('{{ url_for('app.push') }}');
        eventSource.onmessage = function(response) {
            new Notification(response.data);
        };
    });
    </script>
</body>
</html>
