<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Auth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/screen.css') }}" />

    {% block styles %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='scripts/ie.js') }}"></script>
    <![endif]-->

    {% block head %}
    {% endblock %}
</head>
<body class="layout-login">
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
    &copy; datashaman
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
