$menu-width: 200px;
$content-width: 1280px - $menu-width;

body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

// Add transition to containers so they can push in and out.
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

// This is the parent `<div>` that contains the menu and the content area.
#layout {
    position: relative;
    padding-left: 0;

    &.active #menu {
        left: $menu-width;
        width: $menu-width;
    }

    &.active .menu-link {
        left: $menu-width;
    }
}

// The content `<div>` is where all your content goes.
.content {
    padding: 0 2.5em;
    max-width: $content-width;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: #333;
    padding: 1.5em 2.5em 0;

    h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }

    h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }
}

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

// The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that appears on the left side of the page.
#menu {
    margin-left: -$menu-width;
    width: $menu-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    // All anchors inside the menu should be styled like this.
    a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    // Remove all background/borders, since we are applying them to #menu.
    .pure-menu,
    .pure-menu ul {
        border: none;
        background: transparent;
    }

    // Add that light border to separate items into groups.
    .pure-menu ul,
    .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }

    // Change color of the anchor links on hover/focus.
    .pure-menu li a:hover,
    .pure-menu li a:focus {
        background: #333;
    }

    // This styles the selected menu item `<li>`.
    .pure-menu-selected,
    .pure-menu-heading {
        background: #1f8dd6;
    }

    // This styles a link within a selected menu item `<li>`.
    .pure-menu-selected a {
        color: #fff;
    }

    // This styles the menu heading.
    .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }
}

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
 */
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    height: auto;
    padding: 1.6em;

    &:hover,
    &:focus {
        background: #000;
    }
}

// Hides the menu at `56em`, but modify this based on your app's needs.
@media (min-width: 56em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: $menu-width; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: $menu-width;
    }

    .menu-link {
        position: fixed;
        left: $menu-width;
        display: none;
    }

    #layout.active .menu-link {
        left: $menu-width;
    }
}

@media (max-width: 56em) {
    /* Only apply this when the window is small. Otherwise, the following
     * case results in extra padding on the left:
     * Make the window small.
     * Tap the menu to trigger the active state.
     * Make the window large again.
     */
    #layout.active {
        position: relative;
        left: $menu-width;
    }
}
