{% from 'helpers/form.html' import group %}

{{ form.csrf_token }}

<fieldset>
    {{ group(form.network) }}

    {{ group(form.id) }}
    {{ group(form.title) }}
    {{ group(form.subtitle) }}
    {{ group(form.description) }}

    {% if logos and form.logo.data %}
        <div class="pure-controls">
            <img src="{{ logos.url(form.logo.data) }}" />
        </div>
    {% endif %}

    {{ group(form.logo) }}

    {{ group(form.contact_email) }}
    {{ group(form.contact_phone) }}
    {{ group(form.url_home) }}
    {{ group(form.url_facebook) }}

    {{ group(form.login_ask_name) }}
    {{ group(form.login_require_name) }}

    {{ group(form.default_minutes) }}
    {{ group(form.default_megabytes) }}

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Ok</button>
        <button type="button" class="pure-button" onclick="history.back()">Cancel</button>
    </div>
</fieldset>
