# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_size = 1
indent_style = tab

[{composer.json,package.json,yarn.lock}]
indent_size = 2

[*.sh]
indent_size = 2
