ADMINS = 'admin@example.com'
CSRF_SESSION_KEY = 'ABigSecretIsHardToFind'
FACEBOOK_APP_ID = '1234567890'
FLASK_DEBUG = False
GOOGLE_ANALYTICS_TRACKING_ID = 'UA-1234567-1'
GTM_CONTAINER_ID = 'GTM-ABC123'
MAIL_DEFAULT_SENDER_EMAIL = 'no-reply@auth.example.com'
MAIL_DEFAULT_SENDER_NAME = 'My Auth Service'
PAYU_PASSWORD = 'password'
PAYU_SAFEKEY = '{12345678-1234-1234-1234-12234567890}'
PAYU_USERNAME = 'username'
SECRET_KEY = 'SomethingElseThatIsLongAndDifficultToGuess'
SECURITY_PASSWORD_SALT = 'EnoughWithTheseSecretsAlready'
SNAPSCAN_API_KEY = '12345678-9012-3456-7890'
SNAPSCAN_SNAP_CODE = 'abcdefghijkl'
SQLALCHEMY_DATABASE_URI = 'sqlite:///../data/local.db'
