asbool
blinker
dotenvy
Flask
Flask-Mail
Flask-Menu
Flask-Script
Flask-Security
Flask-SQLAlchemy>=2.0
Flask-Uploads
https://github.com/lepture/flask-wtf/archive/master.zip#egg=Flask-WTF
healthcheck
pillow
requests
simplejson
six
https://github.com/armooo/suds_requests/archive/master.zip#egg=suds_requests
wheel

functools32 ; python_version < '3'
