asbool==0.1.1
blinker==1.4
dotenvy==0.2.0
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.0
Flask-Menu==0.6.0
Flask-Potion==0.8.1
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security-Fork==2.0.1
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gitchangelog==3.0.3
gunicorn==19.7.1
lxml==4.1.1
MarkupSafe==1.0
Pillow==4.3.0
requests==2.18.4
six==1.11.0
