Flask
Flask-SQLAlchemy>=2.0
Flask-WTF
Flask-Potion
Flask-Principal>=0.4.0
Flask-Login==0.2.11
Flask-Menu
Flask-Bcrypt
Flask-Script
Flask-Security
Flask-Uploads
gitchangelog
gunicorn
greenlet
lxml
markupsafe
pillow
git+git://github.com/nlhepler/pydot.git#egg=pydot
pyparsing==1.5.2

# Python 2.6
# ordereddict

# Python 2.7
# functools32
