{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'Edit Order' %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="order-edit content">
        <form method="post" action="{{ url_for('.order_edit', hash=order.hash) }}" class="order-item pure-form pure-form-aligned">
            {% include 'order/_form.html' %}
        </form>

        <hr class="divider" />

        <table id="order-items" width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Product</th>
                    <th style="text-align: right">Quantity</th>
                    <th style="text-align: right">Price</th>
                    <th style="text-align: right">Unit</th>
                    <th style="text-align: right">Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}
                <tr class="order-item">
                    <td data-label="Product">{{ item.product.title }}</td>
                    <td data-label="Quantity" style="text-align: right">{{ item.quantity }}</td>
                    <td data-label="Price" style="text-align: right">{{ render_currency_amount(order.network.currency, item.price) }}</td>
                    <td data-label="Unit" style="text-align: right">{{ item.unit or '-' }}</td>
                    <td data-label="Total" style="text-align: right">{{ render_currency_amount(order.network.currency, item.total_amount) }}</td>
                    <td class="actions actions-instance"></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" />
                    <td style="text-align: right">
                        <strong>VAT</strong>
                    </td>
                    <td style="text-align: right">
                        {{ render_currency_amount(order.network.currency, order.vat_amount) }}
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" />
                    <td style="text-align: right">
                        <strong>Total</strong>
                    </td>
                    <td style="text-align: right">
                        {{ render_currency_amount(order.network.currency, order.total_amount) }}
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
{% endblock %}

{% block scripts %}
<script>
var prices = {{ prices | tojson }};
Zepto(function($) {
    $('#product')
        .on('change', function (e) {
            var price = prices[$(this).val()];
            $('#price').val(price.toFixed(2));
        })
        .trigger('change');
});
</script>
{% endblock %}
