{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'New Order' %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        <form method="post" action={{ url_for('.order_new') }} class="order-item pure-form pure-form-aligned">
            {% include 'order/_form.html' %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
var prices = {{ prices | tojson }};
Zepto(function($) {
    $('#product')
        .on('change', function (e) {
            var price = prices[$(this).val()];
            $('#price').val(price.toFixed(2));
        })
        .trigger('change');
    $('#product').focus();
});
</script>
{% endblock %}
