{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'Show Order' %}
{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
<div class="order-show content">
    {% if show_network %}
    <div>
            <strong>Network</strong> {{ order.network }}
        </div>
    {% endif %}

    {% if show_gateway %}
        <div>
            <strong>Gateway</strong> {{ order.gateway }}
        </div>
    {% endif %}

    <div>
        <strong>User</strong> {{ order.user }}
    </div>

    <div>
        <strong>Status</strong> {{ order.status }}
    </div>

    <div>
        <strong>VAT Amount</strong> {{ render_currency_amount(order.currency, order.vat_amount) }}
    </div>

    <div>
        <strong>Total Amount</strong> {{ render_currency_amount(order.currency, order.total_amount) }}
    </div>

    <h3>
        Items
    </h3>

    <ul>
        {% for item in order.items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>

    {% if order.vouchers.count() %}
        <h3>
            Vouchers
        </h3>

        <ul>
            {% for voucher in order.vouchers %}
            <li>
                <strong>{{ voucher }}</strong> / {{ voucher.minutes }}m / {{ voucher.megabytes }}MB. Expires {{ voucher.expires_at | dateformat }} if unused.
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if order.transactions.count() %}
        <h3>
            Transactions
        </h3>

        <ul>
            {% for transaction in order.transactions %}
            <li>
                <a href="{{ url_for('.transaction_show', hash=transaction.hash) }}">{{ transaction }}</a> - {{ transaction.type[0].upper() + transaction.type[1:] }} {{ transaction.status }} for {{ render_currency_amount(transaction.currency, transaction.total_amount) }} via {{ transaction.processor }}.
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
