{% extends 'layouts/default.html' %}

{% set title = 'Payment Response' %}

{% block content %}
<div class="header">
    <h1>Payment Response</h1>
</div>

<div class="content">
    {% include 'layouts/flashes.html' %}

    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr><th class="heading" colspan="2">Basket</th></tr>
        </thead>
        <tbody>
            <tr><th>Amount</th><td>{{ response.basket.currencyCode }} {{ basketAmount }}</td></tr>
            <tr><th>Description</th><td>{{ response.basket.description }}</td></tr>
        </tbody>

        <thead>
            <tr><th class="heading" colspan="2">Details</th></tr>
        </thead>
        <tbody>
            <tr><th>Merchant Reference</th><td>{{ response.merchantReference }}</td></tr>
            <tr><th>PayU Reference</th><td>{{ response.payUReference }}</td></tr>
            <tr><th>Transaction State</th><td>{{ response.transactionState }}</td></tr>
        </tbody>
    </div>
</div>
{% endblock %}
