{% extends 'layouts/default.html' %}

{% set page_title = 'Confirm Delete' %}

{% block content %}
    <div class="content">
        <form method="post" action={{ url_for('app.%s_delete' % resource, id=instance.id) }} class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-controls">
                    <p>Are you sure you want to <em>delete</em> <strong>{{ instance }}</strong>?</p>

                    <button type="submit" class="pure-button pure-button-primary">Yes</button>
                    <button type="button" class="pure-button">No</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
