{% extends 'layouts/admin.html' %}

{% block head %}
<!--[if lt IE 9]>
<script>html5.addElements('vouchers')</script>
<![endif]-->
{% endblock %}

{% block content %}
<vouchers></vouchers>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/interactive.js') }}"></script>
<script src="{{ url_for('static', filename='tags/vouchers.tag') }}" type="riot/tag"></script>
<script src="{{ url_for('static', filename='stores/vouchers.js') }}"></script>

<script>
Zepto(function($) {
    riot.mount('vouchers');
});
</script>
{% endblock %}
