{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'New Voucher' %}

{% block content %}
    <div class="content">
        <div class="panel panel-voucher">
            <div class="voucher-id">
                {{ request.args.get('code') }}
            </div>

            <div class="panel-body">
                <form method="post" action={{ url_for('.vouchers_new') }} class="pure-form pure-form-stacked">
                    {{ form.csrf_token }}

                    <fieldset class="pure-group">
                        {{ group(form.gateway_id, class='pure-input-1', required=True) }}
                        {{ group(form.minutes, class='pure-input-1', required=True) }}
                        {{ group(form.megabytes, class='pure-input-1') }}
                    </fieldset>

                    <button type="submit" class="pure-input-1 pure-button pure-button-primary">Generate</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
var defaults = {{ defaults | tojson }};
Zepto(function($) {
    $('#gateway_id').on('change', function (e) {
        var item = defaults[$(this).val()];
        $('#minutes').val(item.minutes);
        $('#megabytes').val(item.megabytes);
    });
});
</script>
{% endblock %}
