{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set title = 'Voucher Login' %}

{% block header %}
    <div class="header">
        <h1>Login</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <p><strong>Note:</strong> A voucher gives you Internet access on one device only.</p>

        <form method="post" action="{{ url_for('.login') }}" class="pure-form pure-form-aligned">
            {{ form.csrf_token }}
            {{ form.gw_address | safe }}
            {{ form.gw_port | safe }}
            {{ form.gateway_id | safe }}
            {{ form.mac | safe }}
            {{ form.url | safe }}

            <fieldset>
                {{ group(form.voucher_code, required=True) }}
                {% if gateway.login_ask_name %}
                    {{ group(form.name, required=gateway.login_require_name) }}
                {% endif %}
                <div class="pure-controls">
                    <button id="voucher-login" type="submit" class="pure-button pure-button-primary">Go</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block script %}
<script>
    Zepto(function ($) {
        $('#voucher-login').on('click', function (e) {
            dataLayer.push({
                event: 'trackEvent',
                eventCategory: 'voucher',
                eventAction: 'login'
            });
        });
        $('#voucher_code').focus();
    });
</script>
{% endblock %}
