{% extends 'layouts/default.html' %}

{% set page_title = 'Products' %}
{% set new_title = 'New Product' %}
{% set new_url = url_for('.new') %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        {% if pagination.items %}
            <table
                id="products"
                width="100%"
                cellspacing="0"
                class="pure-table pure-table-horizontal"
                data-sortable
            >
                <thead>
                    <tr>
                        {% if show_network or show_gateway %}
                        <th>
                            Network &amp; Gateway
                        </th>
                        {% endif %}
                        <th class="sequence">Seq</th>
                        <th>Category</th>
                        <th>Code</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody data-url="{{ url_for('.sort') }}">
                    {% for instance in pagination.items %}
                    <tr data-id={{ instance.id }} class="product">
                            {% if show_network or show_gateway %}
                            <td data-label="Network & Gateway">
                                {% if show_network %}
                                {{ instance.network or '' }}
                                {% endif %}
                                {% if show_gateway %}
                                    {% if show_network %}<br />{% endif %}
                                    {{ instance.gateway or '' }}
                                {% endif %}
                            </td>
                            {% endif %}
                            <td class="sequence" data-label="Seq">{{ instance.sequence }}</td>
                            <td class="category" data-label="Category"><a href={{ url_for('.category_edit', code=instance.category.code) }}>{{ instance.category }}</a></td>
                            <td class="code" data-label="Code"><a href={{ url_for('.edit', id=instance.id) }}>{{ instance.code }}</a></td>
                            <td class="title" data-label="Title">{{ instance.title }}</td>
                            <td class="price" data-label="Price">{{ instance.network.currency.render_amount(instance.price) }}</td>
                            <td class="unit" data-label="Unit">{{ instance.unit }}</td>

                            <td class="actions actions-instance">
                                <div class="pure-button-group" role="group" aria-label="Actions Available">
                                    <a href={{ url_for('.delete', id=instance.id) }} class="pure-button">
                                        <span class="oi" data-glyph="x" title="Delete" aria-hidden="true"></span>
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
