{% extends 'layouts/default.html' %}

{% set page_title = 'Adjustments' %}
{% set new_title = 'New Adjustment' %}
{% set new_url = url_for('.new') %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        {% if pagination.items %}
            <table width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>ID</th>
                        {% if show_network or show_gateway %}
                        <th>
                            Network &amp; Gateway
                        </th>
                        {% endif %}
                        <th>User</th>
                        <th>Direction</th>
                        <th>Amount</th>
                        <th>Reason</th>
                        <th>Reference</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in pagination.items %}
                        <tr data-id={{ instance.id }} class={{ 'pure-table-' + loop.cycle('odd', 'even') }}>
                            <td class="id" data-label="ID"><a href={{ url_for('.edit', id=instance.id) }}>{{ instance.id }}</a></td>
                            {% if show_network or show_gateway %}
                            <td data-label="Network & Gateway">
                                {% if show_network %}
                                {{ instance.network }}
                                {% endif %}
                                {% if show_gateway %}
                                    {% if show_network %} / {% endif %}
                                    {{ instance.gateway }}
                                {% endif %}
                            </td>
                            {% endif %}
                            <td data-label="User"><a href="{{ url_for('user.edit', id=instance.user_id) }}">{{ instance.user }}</a></td>
                            <td class="direction" data-label="Direction">{{ instance.direction }}</td>
                            <td class="amount" data-label="Amount">{{ instance.network.currency.render_amount(instance.amount) }}</td>
                            <td class="reason" data-label="Reason">{{ instance.reason }}</td>
                            <td class="reference_number" data-label="Reference">{{ instance.reference_number }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
