{% extends 'layouts/default.html' %}
{% from "helpers/form.html" import group %}

{% set title = 'Forgot Password' %}

{% block header %}
    <div class="header">
        <h1>Send password reset instructions</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="{{ url_for_security('forgot_password') }}" method="POST" class="pure-form pure-form-aligned" name="forgot_password_form">
            {{ forgot_password_form.hidden_tag() }}
            <fieldset>
                {{ group(forgot_password_form.email) }}
            </fieldset>

            <div class="pure-controls">
                <button id="submit" type="submit" class="pure-button pure-button-primary">Recover Password</button>
            </div>
        </form>
    </div>
{% endblock %}
