{% extends 'layouts/default.html' %}
{% from "helpers/form.html" import group %}

{% set title = 'Reset Password' %}

{% block header %}
    <div class="header">
        <h1>Reset Password</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" class="pure-form pure-form-aligned" name="login_user_form">
            {{ reset_password_form.hidden_tag() }}
            <fieldset>
                {{ group(reset_password_form.password, autocomplete="off") }}
                {{ group(reset_password_form.password_confirm, autocomplete="off") }}

                <div class="pure-controls">
                    <button id="submit" type="submit" class="pure-button pure-button-primary">Recover Password</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
