{% extends 'layouts/default.html' %}
{% from "helpers/form.html" import group %}

{% set title = 'Send Confirmation' %}

{% block header %}
    <div class="header">
        <h1>Resend confirmation instructions</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <form action="{{ url_for_security('send_confirmation') }}" method="POST" class="pure-form pure-form-stacked" name="send_confirmation_form">
            {{ send_confirmation_form.hidden_tag() }}
            <fieldset>
                {{ group(send_confirmation_form.email, class='pure-input-1') }}
            </fieldset>

            <button id="submit" type="submit" class="pure-input-1 pure-button pure-button-primary">Resend Confirmation Instructions</button>
        </form>

        {% include "security/_menu.html" %}
    </div>
{% endblock %}
