{% extends 'layouts/default.html' %}
{% import 'helpers/render.html' as render %}

{% set page_title = 'Products' %}
{% set new_title = 'New Product' %}
{% set new_url = url_for('.products_new') %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        {% if instances %}
            <table width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        {% if show_network %}
                            <th>Network</th>
                        {% endif %}
                        {% if show_gateway %}
                            <th>Gateway</th>
                        {% endif %}
                        <th>Code</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in instances %}
                        <tr data-id={{ instance.id }} class={{ 'pure-table-' + loop.cycle('odd', 'even') }}>
                            {% if show_network %}
                                <td data-label="Network">{{ render.render(instance.network) }}</td>
                            {% endif %}
                            {% if show_gateway %}
                                <td data-label="Gateway">{{ render.render(instance.gateway) }}</td>
                            {% endif %}
                            <td class="code" data-label="Code"><a href={{ url_for('.products_edit', id=instance.id) }}>{{ instance.code }}</a></td>
                            <td class="title" data-label="Title">{{ instance.title | default('-') }}</td>
                            <td class="price" data-label="Price">{{ instance.currency.prefix }} {{ instance.price }}</td>

                            <td class="actions actions-instance">
                                <a href={{ url_for('.products_delete', id=instance.id) }} class="pure-button">
                                    <span class="oi" data-glyph="x" title="Delete" aria-hidden="true"></span>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
