* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 20px;
}

h1 {
    font-size: x-large;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
}

.layout-base {
    .container {
        width: 1024px;
        margin: 0 auto;
    }
}

.layout-login {
    background-color: #1f8dd6;

    .panel {
        border-radius: 10px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 2px 2px 1px #333333;
        margin: 20px auto;
        width: 300px;

        .panel-title {
            text-align: center;
        }
    }

    footer {
        color: #ffffff;
        text-align: center;
        padding: 20px;
    }
}

table .actions {
    width: 30%;
    text-align: right;
}

.flashes {
    padding: 0;
    margin-bottom: 12px;

    li {
        display: inline-block;
        padding: 10px;
        margin-left: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
    }

    .message {
        color: #ffffff;
        background-color: #4ea5cd;
        border-color: #3b8eb5;
    }

    .success, .info {
        color: #ffffff;
        background-color: #00b900;
        border-color: #55a12c;
    }

    .warning {
        color: #ffffff;
        background-color: #eaaf51;
        border-color: #d99a36;
    }

    .error {
        color: #ffffff;
        background-color: #ff0000;
        border-color: #c43d3d;
    }
}

.state {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.state-invalid {
    color: #ffffff;
    background-color: #ff0000;
}

.state-valid {
    color: #ffffff;
    background-color: #00b900;
}
