{% from 'helpers/form.html' import group %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

<fieldset>
    {% if show_network %}
        {{ group(form.network, readonly=True) }}
    {% endif %}

    {% if show_gateway %}
        {{ group(form.gateway, readonly=True) }}
    {% endif %}

    {{ group(form.category, readonly=True) }}

    {{ group(form.code) }}
    {{ group(form.title) }}
    {{ group(form.description) }}
    {{ group(form.price) }}

    {% if category.properties %}
    {% for name in category.properties.split('\n') %}
    {{ group(form[name], label='Jam') }}
    {% endfor %}
    {% endif %}

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Ok</button>
        <button type="button" class="pure-button" onclick="history.back()">Cancel</button>
    </div>
</fieldset>
