{% from 'helpers/form.html' import group %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

<fieldset>
    <div class="pure-control-group">
        <label for="network">
            Network
        </label>
        <input id="network" type="text" readonly value="{{ instance.network if instance else network }}" />
    </div>

    <div class="pure-control-group">
        <label for="gateway">
            Gateway
        </label>
        <input id="gateway" type="text" readonly value="{{ instance.gateway if instance else gateway }}" />
    </div>

    <div class="pure-control-group">
        <label for="category">
            Category
        </label>
        <input id="category" type="text" readonly value="{{ instance.category if instance else category }}" />
    </div>

    {{ group(form.code) }}
    {{ group(form.title) }}
    {{ group(form.unit) }}
    {{ group(form.description) }}
    {{ group(form.price) }}
    {{ group(form.vat_rate) }}

    {% if category.properties %}
    {% for name in category.properties.split('\n') %}
    {{ group(form[name], label='Jam') }}
    {% endfor %}
    {% endif %}

    {{ group(form.sequence) }}

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Ok</button>
        <button type="button" class="pure-button" onclick="history.back()">Cancel</button>
    </div>
</fieldset>
