{% extends 'layouts/default.html' %}

{% set page_title = 'Products' %}
{% set new_title = 'New Product' %}
{% set new_url = url_for('.product_new') %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        {% if pagination.items %}
            <table width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        {% if show_network %}
                            <th>Network</th>
                        {% endif %}
                        {% if show_gateway %}
                            <th>Gateway</th>
                        {% endif %}
                        <th>Code</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in pagination.items %}
                        <tr data-id={{ instance.id }} class={{ 'pure-table-' + loop.cycle('odd', 'even') }}>
                            {% if show_network %}
                                <td data-label="Network">{{ instance.network | default('-') }}</td>
                            {% endif %}
                            {% if show_gateway %}
                                <td data-label="Gateway">{{ instance.gateway | default('-') }}</td>
                            {% endif %}
                            <td class="code" data-label="Code"><a href={{ url_for('.product_edit', id=instance.id) }}>{{ instance.code }}</a></td>
                            <td class="title" data-label="Title">{{ instance.title }}</td>
                            <td class="price" data-label="Price">{{ render_currency_amount(instance.network.currency, instance.price) }}</td>
                            <td class="unit" data-label="Unit">{{ instance.unit }}</td>

                            <td class="actions actions-instance">
                                <div class="pure-button-group" role="group" aria-label="Actions Available">
                                    <a href={{ url_for('.product_delete', id=instance.id) }} class="pure-button">
                                        <span class="oi" data-glyph="x" title="Delete" aria-hidden="true"></span>
                                        Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
