{% extends 'layouts/default.html' %}

{% set page_title = 'Adjustments' %}
{% set new_title = 'New Adjustment' %}
{% set new_url = url_for('.adjustment_new') %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        {% if pagination.items %}
            <table width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>ID</th>
                        {% if show_network or show_gateway %}
                        <th>
                            Network &amp; Gateway
                        </th>
                        {% endif %}
                        <th>Reason</th>
                        <th>Amount</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in pagination.items %}
                        <tr data-id={{ instance.id }} class={{ 'pure-table-' + loop.cycle('odd', 'even') }}>
                            <td class="id" data-label="ID"><a href={{ url_for('.adjustment_edit', id=instance.id) }}>{{ instance.id }}</a></td>
                            {% if show_network or show_gateway %}
                            <td data-label="Network & Gateway">
                                {% if show_network %}
                                {{ instance.network }}
                                {% endif %}
                                {% if show_gateway %}
                                    {% if show_network %} / {% endif %}
                                    {{ instance.gateway }}
                                {% endif %}
                            </td>
                            {% endif %}
                            <td class="reason" data-label="Reason">{{ instance.reason }}</td>
                            <td class="amount" data-label="Amount">{{ render_currency_amount(instance.network.currency, instance.amount) }}</td>

                            <td class="actions actions-instance">
                                <div class="pure-button-group" role="group" aria-label="Actions Available">
                                    {% for action, defn in instance.available_actions.items() %}
                                    <a href="{{ url_for('.adjustment_action', id=instance.id, action=action) }}" class="pure-button" title="{{ action }}">
                                        {% if defn.icon %}
                                        <span class="oi" data-glyph={{ defn.icon }} aria-hidden="true"></span>
                                        {% endif %}
                                        {{ action }}
                                    </a>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
