{% extends 'layouts/default.html' %}
{% import 'helpers/render.html' as render %}

{% set page_title = 'Currencies' %}
{% set new_title = 'New Currency' %}
{% set new_url = url_for('.currencies_new') %}

{% block content %}
    <div class="content">
        {% if instances %}
            <table width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Prefix</th>
                        <th>Suffix</th>
                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in instances %}
                        <tr data-id={{ instance.id }} class={{ 'pure-table-' + loop.cycle('odd', 'even') }}>
                            <td class="id" data-label="ID"><a href={{ url_for('.currencies_edit', id=instance.id) }}>{{ instance.id }}</a></td>
                            <td class="title" data-label="Title">{{ instance.title }}</td>
                            <td class="prefix" data-label="Prefix">{{ instance.prefix | default('-') }}</td>
                            <td class="suffix" data-label="Suffix">{{ instance.suffix | default('-') }}</td>

                            <td class="actions actions-instance">
                                <a href={{ url_for('.currencies_delete', id=instance.id) }} class="pure-button">
                                    <span class="oi" data-glyph="x" title="Delete" aria-hidden="true"></span>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
