{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'Pay Cash' %}

{% block content %}
    <div class="order-cash content">
        <form method="post" action="{{ url_for('order.pay', id=order.id, processor_id='cash') }}" class="pure-form pure-form-aligned">
            {{ form.csrf_token }}

            <fieldset>
                <div class="pure-controls">
                    <ul>
                        <li>Total: {{ order.currency.render_amount(order.total_amount) }}</li>
                        <li>Paid: {{ order.currency.render_amount(order.paid_amount) }}</li>
                        <li>Owed: {{ order.currency.render_amount(order.owed_amount) }}</li>
                    </ul>
                </div>

                {{ group(form.currency) }}
                {{ group(form.cash, type='number', min=0, value='%.2f' % order.owed_amount) }}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Ok</button>
                    <button type="button" class="pure-button" onclick="history.back()">Cancel</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
Zepto(function($) {
    $('#cash').focus();
});
</script>
{% endblock %}
