{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'New Cashup' %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
<div class="content">
    <form method="post" action={{ url_for('.new') }} class="order-item pure-form pure-form-aligned">
        {{ form.csrf_token }}

        <p>This will mark the end of a transaction period on the system.</p>

        {% if show_gateway %}
        <p>Select the gateway below.</p>
        {{ group(form.gateway) }}
        {% endif %}

        <p>Are you sure?</p>

        <button type="submit" class="pure-button pure-button-primary">Yes</button>
        <button type="button" class="pure-button" onclick="history.back()">No</button>
    </form>
</div>
{% endblock %}
