{% macro field(f) %}
    {{ f(**kwargs) | safe }}

    {% if f.errors %}
        <div class="pure-controls">
            <div class="state state-invalid">
                <span class="oi" data-glyph="x" title="X" aria-hidden="true"></span>
                {{ f.errors | join('; ') }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro group(f) %}
    <div class="pure-control-group">
        {% if f.flags.required %}<b>{% endif %}{{ f.label }}{% if f.flags.required %}</b>{% endif %}
        {{ field(f, **kwargs) }}
        {% if f.description %}
            <span class="description pure-form-message-inline">{{ f.description }}</span>
        {% endif %}
    </div>
{% endmacro %}
