{% extends 'layouts/default.html' %}

{% set page_title = 'Vouchers' %}
{% set new_title = 'New Voucher' %}
{% set new_url = '/new-voucher' %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        {% if pagination.items %}
            <table id="vouchers" width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        {% if show_network or show_gateway %}
                        <th>
                            Network &amp; Gateway
                        </th>
                        {% endif %}
                        <th>Code</th>
                        <th>Name</th>
                        <th>S</th>
                        <th>Times</th>
                        <th>Minutes Left</th>
                        <th style="text-align:right">MB Used / Max</th>

                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in pagination.items %}
                        <tr data-id="{{ instance.id }}" data-code="{{ instance.code }}" class="voucher table-{{ instance.class_hint }}">
                            {% if show_network or show_gateway %}
                            <td data-label="Network & Gateway">
                                {% if show_network %}
                                {{ instance.gateway.network }}
                                {% endif %}
                                {% if show_gateway %}
                                    {% if show_network %}<br />{% endif %}
                                    {{ instance.gateway }}
                                {% endif %}
                            </td>
                            {% endif %}
                            <td class="code" data-label="Code">{{ instance.code }}</td>
                            <td class="name" data-label="Name">{{ instance.name or '-' }}</td>
                            <td class="status" data-label="Status"><span class="oi" data-glyph={{ constants.STATUS_ICONS[instance.status] }} title={{ instance.status }} aria-hidden="true"></span></td>
                            <td data-label="Times">
                                {{ instance.created_at | timeformat('short') }}
                                {% if instance.started_at %}
                                    {{ instance.started_at | timeformat('short') }}
                                    {{ instance.end_at | timeformat('short') }}
                                {% endif %}
                            </td>
                            <td data-label="Minutes Left">
                                {% if instance.time_left %}{{ instance.time_left }} /{% endif %}
                                {{ instance.minutes | default('-') }}
                            </td>
                            <td data-label="MB Used / Max" style="text-align:right">{{ ((instance.incoming + instance.outgoing) / 1024 / 1024) | int }} / {{ instance.megabytes }}</td>

                            <td class="actions actions-instance">
                                <div class="pure-button-group" role="group" aria-label="Actions Available">
                                    {% for action, defn in instance.available_actions.items() %}
                                    <a href="{{ url_for('.action', id=instance.id, action=action) }}" class="pure-button" title="{{ action }}">
                                        {% if defn.icon %}
                                        <span class="oi" data-glyph={{ defn.icon }} aria-hidden="true"></span>
                                        {% endif %}
                                        {{ action }}
                                    </a>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
