{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% set page_title = 'Edit Order' %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block page_actions %}
    {% include 'shared/actions.html' %}
{% endblock %}

{% block content %}
    <div class="order-edit content">
        <form method="post" action="{{ url_for('.edit', hash=instance.hash) }}" class="order-item pure-form pure-form-aligned">
            {% include 'order/_form.html' %}
        </form>

        {% if instance.items.count() %}
        <hr class="divider" />

        <table id="order-items" width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Product</th>
                    <th style="text-align: right">Quantity</th>
                    <th style="text-align: right">Price</th>
                    <th style="text-align: right">Unit</th>
                    <th style="text-align: right">Total</th>
                    <th class="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in instance.items %}
                <tr class="order-item">
                    <td data-label="Product">{{ item.product.title }}</td>
                    <td data-label="Quantity" style="text-align: right">{{ item.quantity }}</td>
                    <td data-label="Price" style="text-align: right">{{ instance.currency.render_amount(item.price) }}</td>
                    <td data-label="Unit" style="text-align: right">{{ item.unit or '-' }}</td>
                    <td data-label="Total" style="text-align: right">{{ instance.currency.render_amount(item.total_amount) }}</td>
                    <td class="actions actions-instance">
                        <div class="pure-button-group" role="group" aria-label="Actions Available">
                            {% for action, defn in item.available_actions.items() %}
                            <a href="{{ url_for('.item_action', id=item.id, action=action) }}" class="pure-button" title="{{ action }}">
                                {% if defn.icon %}
                                <span class="oi" data-glyph={{ defn.icon }} aria-hidden="true"></span>
                                {% endif %}
                                {{ action }}
                            </a>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" />
                    <td style="text-align: right">
                        <strong>VAT</strong>
                    </td>
                    <td style="text-align: right">
                        {{ instance.currency.render_amount(instance.vat_amount) }}
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" />
                    <td style="text-align: right">
                        <strong>Total</strong>
                    </td>
                    <td style="text-align: right">
                        {{ instance.currency.render_amount(instance.total_amount) }}
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endif %}
{% endblock %}

{% block scripts %}
<script>
var prices = {{ prices | tojson }};
Zepto(function($) {
    $('#product')
        .on('change', function (e) {
            var price = prices[$(this).val()];
            $('#price').val(price.toFixed(2));
        })
        .trigger('change');
});
</script>
{% endblock %}
