{% extends 'layouts/default.html' %}
{% from 'helpers/render.html' import render_pagination %}

{% set page_title = 'Orders' %}
{% set new_title = 'New Order' %}
{% set new_url = url_for('.new') %}

{% set show_network = current_user.has_role('super-admin') %}
{% set show_gateway = current_user.has_role('super-admin') or current_user.has_role('network-admin') %}

{% block content %}
    <div class="content">
        <form class="form-filter pure-form">
            <fieldset>
                <form method="get">
                    {% if show_network %}
                        {{ form.network() }}
                    {% endif %}

                    {% if show_gateway %}
                        {{ form.gateway() }}
                    {% endif %}

                    {{ form.user() }}
                    {{ form.status() }}
                    {{ form.created_from() }}
                    {{ form.created_to() }}

                    <button type="submit" class="pure-button pure-button-primary">Filter</button>
                    <a href="{{ url_for('.index') }}" class="pure-button">Clear</a>
                </form>
            </fieldset>
        </form>

        {% if pagination.items %}
            <table id="orders" width="100%" cellspacing="0" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>ID</th>
                        {% if show_network or show_gateway %}
                        <th>
                            Network &amp; Gateway
                        </th>
                        {% endif %}
                        <th>User</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Created At</th>

                        <th class="actions">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for instance in pagination.items %}
                    <tr data-id={{ instance.id }} class="order table-{{ instance.class_hint }}">
                        <td data-label="ID">
                            <a href="{{ url_for('.edit', hash=instance.hash) }}">{{ instance }}</a><br/>
                            {{ instance.hash }}
                        </td>
                        {% if show_network or show_gateway %}
                        <td data-label="Network & Gateway">
                            {% if show_network %}
                            {{ instance.network }}
                            {% endif %}
                            {% if show_gateway %}
                                {% if show_network %}<br />{% endif %}
                                {{ instance.gateway }}
                            {% endif %}
                        </td>
                        {% endif %}
                        <td data-label="User">{{ instance.user | default('-') }}</td>
                        <td data-label="Status">{{ instance.status }}</td>
                        <td data-label="Total">{{ instance.network.currency.render_amount(instance.total_amount) }}</td>
                        <td data-label="Created At">{{ instance.created_at | datetimeformat }}</td>

                        <td class="actions actions-instance">
                            {% include 'shared/actions.html' %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {{ render_pagination(pagination, '.index') }}
        {% endif %}
    </div>
{% endblock %}
