{% extends 'layouts/default.html' %}

{% set page_title = gateway.title %}
{% set title = gateway.title %}

{% block header %}
    {% include 'wifidog/_facebook.html' %}

    <div class="header">
        {% if logo_url %}
            <img src="{{ logo_url }}" alt="{{ gateway.title }}" />
        {% else %}
            <h1>{{ gateway.title }}</h1>
        {% endif %}

        {% if gateway.subtitle %}
            <h2>{{ gateway.subtitle }}</h2>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        {% if gateway.subhead %}
            <h2 class="content-subhead">{{ gateway.subhead }}</h2>
        {% endif %}

        {% if voucher and voucher.time_left %}
            <ul class="flashes">
                <li class="success"><span id="time_left">{{ voucher.time_left }}</span> minutes left</li>
            </ul>
        {% endif %}

        {% if gateway.description %}
            <div class="description">
                {{ gateway.description }}
            </div>
        {% endif %}

        {% if gateway.public_phone or gateway.public_email %}
            <ul>
                {% if gateway.public_phone %}
                <li>Phone: <a href="tel:{{ gateway.public_phone }}">{{ gateway.public_phone }}</a></li>
                {% endif %}
                {% if gateway.public_email %}
                <li>Email: <a href="mailto:{{ gateway.public_email }}">{{ gateway.public_email }}</a></li>
                {% endif %}
            </ul>
        {% endif %}

        <div
            class="fb-like"
            data-href="{{ gateway.url_facebook }}"
            data-width="300"
            data-layout="standard"
            data-action="like"
            data-show-faces="true"
            data-share="true">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% if voucher %}
        <script>
            Zepto(function($) {
                var time_left = {{ voucher.time_left }};

                if(time_left > 0) {
                    setInterval(function() {
                        time_left--;
                        $('#time_left').html(time_left);
                    }, 60000);
                }

                if(time_left > 5) {
                    setTimeout(function() {
                        new Notification('Your session is about to expire. You have 5 minutes left.');
                    }, (time_left - 5) * 60000);
                }

                if(time_left > 10) {
                    setTimeout(function() {
                        new Notification('Your session is about to expire. You have 10 minutes left.');
                    }, (time_left - 10) * 60000);
                }
            });
        </script>
    {% endif %}
{% endblock %}
