{% extends 'layouts/admin.html' %}

{% block head %}
<!--[if lt IE 9]>
<script>html5.addElements('networks')</script>
<![endif]-->
{% endblock %}

{% block content %}
<networks></networks>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/interactive.js') }}"></script>
<script src="{{ url_for('networks.static', filename='store.js') }}"></script>
<script src="{{ url_for('networks.static', filename='networks.tag') }}" type="riot/tag"></script>

<script>
Zepto(function($) {
    riot.mount('networks', { networks: {{ networks|tojson }} });
});
</script>
{% endblock %}
