{% extends 'layouts/default.html' %}

{% set page_title = 'New Gateway' %}

{% block content %}
    <div class="content">
        <form method="post" enctype="multipart/form-data" action={{ url_for('.gateway_new') }} class="pure-form pure-form-aligned">
            {% include 'gateway/_form.html' %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
Zepto(function($) {
    new ML.Tabs('.tabs', {
        tab_class: 'tabs-tab',
        nav_class: 'tabs-nav',
        nav_item_class: 'tabs-nav-item',
        active_class: 'active'
    });
});
</script>
{% endblock %}
