{% extends 'layouts/plain.html' %}
{% from 'helpers/form.html' import render_field %}

{% block content %}
<div class="panel panel-login">
    <h1 class="panel-title">Broadcast</h1>

    <div class="panel-body">
        {% include 'layouts/flashes.html' %}

        <form method="post" action="{{ url_for('app.broadcast') }}" class="pure-form pure-form-stacked">
            {{ form.csrf_token }}

            <fieldset class="pure-group">
                {{ render_field(form.message, class='pure-input-1', placeholder='Message', required=True) }}
            </fieldset>

            <button type="submit" class="pure-input-1 pure-button pure-button-primary">Go</button>
        </form>
    </div>
</div>
{% endblock %}
