{% extends 'layouts/default.html' %}
{% from 'helpers/form.html' import group %}

{% block content %}
<div class="panel panel-login">
    <h1 class="panel-title">Broadcast</h1>

    <div class="panel-body">
        <form method="post" action="{{ url_for('app.broadcast') }}" class="pure-form pure-form-aligned">
            {{ form.csrf_token }}

            <fieldset>
                {{ group(form.message, required=True) }}

                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Go</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
