{% extends 'layouts/default.html' %}

{% block content %}
<script type="riot/tag">
    <m>
        <div hidden={ opts.__hidden }>
            Content <button type="button" onclick={ onClose }>Close from within</button>
        </div>

        onClose() {
            this.parent.trigger('close');
        }

        console.log('Child opts', opts);
    </m>

    <app>
        <div class="content">
            <button if={ hidden } type="button" class="pure-button" onclick={ triggerEvent('open') }>Open</button>
            <button if={ !hidden } type="button" class="pure-button" onclick={ triggerEvent('close') }>Close</button>

            <m hidden={ hidden }></m>
        </div>

        this.hidden = true;

        this.on('open', function() {
            this.hidden = false;
        });

        this.on('close', function() {
            this.hidden = true;
            this.update();
        });

        triggerEvent(event) {
            return function(e) {
                this.trigger(event);
            }.bind(this);
        }
    </app>
</script>

<app/>
{% endblock %}
